// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

@-webkit-keyframes roodaycolors {
	0% {
		color: #F4B350;
	}
	20% {
		color: #BF55EC;
	}
	40% {
		color: #3A539B;
	}
	60%{
		color: #81CFE0;
	}
	80%{
		color: #E74C3C;
	}
	100%{
		color: #F4B350;
	}
}
@-moz-keyframes roodaycolors {
	0% {
		color: #F4B350;
	}
	20% {
		color: #BF55EC;
	}
	40% {
		color: #3A539B;
	}
	60%{
		color: #81CFE0;
	}
	80%{
		color: #E74C3C;
	}
	100%{
		color: #F4B350;
	}
}
@keyframes roodaycolors {
	0% {
		color: #F4B350;
	}
	20% {
		color: #BF55EC;
	}
	40% {
		color: #3A539B;
	}
	60%{
		color: #81CFE0;
	}
	80%{
		color: #E74C3C;
	}
	100%{
		color: #F4B350;
	}
}

@-webkit-keyframes roodaygradient {
    0%{background-position:0% 28%}
    50%{background-position:100% 73%}
    100%{background-position:0% 28%}
}
@-moz-keyframes roodaygradient {
    0%{background-position:0% 28%}
    50%{background-position:100% 73%}
    100%{background-position:0% 28%}
}
@-o-keyframes roodaygradient {
    0%{background-position:0% 28%}
    50%{background-position:100% 73%}
    100%{background-position:0% 28%}
}
@keyframes roodaygradient { 
    0%{background-position:0% 28%}
    50%{background-position:100% 73%}
    100%{background-position:0% 28%}
}

ul {
  list-style: circle inside;
}
a {
	-webkit-transition: color 0.5s ease;
	-moz-transition: color 0.5s ease;
	-o-transition: color 0.5s ease;
	transition: color 0.5s ease;
	color: #BF55EC;
	text-decoration: none;
	&:hover, &:focus, &:active {
		color: #9642B9;
		text-decoration: none;
	}
}

.hero {
  > h1 {
  	-webkit-animation: roodaycolors 15s infinite linear;
  	-moz-animation: roodaycolors 15s infinite linear;
    animation: roodaycolors 15s infinite linear;
    font-size: 7rem;
    font-family: 'Merriweather Sans';
    -webkit-text-fill-color: transparent;
	background: linear-gradient(304deg, #f4b350, #bf55ec, #3a539b, #81cfe0, #e74c3c);
	background-size: 1000% 1000%;
	-webkit-animation: roodaygradient 15s ease infinite;
	-z-animation: roodaygradient 15s ease infinite;
	-o-animation: roodaygradient 15s ease infinite;
	animation: roodaygradient 15s ease infinite;
	 -webkit-background-clip: text;
  }

  > p {
  	-webkit-animation: roodaycolors 15s infinite linear;
  	-moz-animation: roodaycolors 15s infinite linear;
    animation: roodaycolors 15s infinite linear;
    font-size: 3.5rem;
    font-family: 'Merriweather Sans';
    -webkit-text-fill-color: transparent;
	background: linear-gradient(304deg, #f4b350, #bf55ec, #3a539b, #81cfe0, #e74c3c);
	background-size: 1000% 1000%;
	-webkit-animation: roodaygradient 15s ease infinite;
	-z-animation: roodaygradient 15s ease infinite;
	-o-animation: roodaygradient 15s ease infinite;
	animation: roodaygradient 15s ease infinite;
	 -webkit-background-clip: text;
  }
}

article .meta, p {
	font-family: 'Merriweather Sans', sans-serif;
}

h1, .article-list article h2>a {
	font-family: 'Roboto Slab', sans-serif;
}

.full-single-article p, .article-list article p {
	font-family: 'Ubuntu', sans-serif;
}

.social-icon-list {
	width: 200px;
}

.article-list article h2>a:hover {
	-webkit-transition: color 0.5s ease;
	-moz-transition: color 0.5s ease;
	-o-transition: color 0.5s ease;
	transition: color 0.5s ease;
	&:hover {
		color: #6B2D85;
	}
}

article .meta a:hover {
	color: #6B2D85;
}

.social-icon-list a {
	-webkit-transition: opacity 0.5s ease;
	-moz-transition: opacity 0.5s ease;
	-o-transition: opacity 0.5s ease;
	transition: opacity 0.5s ease;
}
