// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

@-webkit-keyframes roodaycolors {
	0% {
		color: #F4B350;
	}
	20% {
		color: #BF55EC;
	}
	40% {
		color: #3A539B;
	}
	60%{
		color: #81CFE0;
	}
	80%{
		color: #E74C3C;
	}
	100%{
		color: #F4B350;
	}
}
@-moz-keyframes roodaycolors {
	0% {
		color: #F4B350;
	}
	20% {
		color: #BF55EC;
	}
	40% {
		color: #3A539B;
	}
	60%{
		color: #81CFE0;
	}
	80%{
		color: #E74C3C;
	}
	100%{
		color: #F4B350;
	}
}
@keyframes roodaycolors {
	0% {
		color: #F4B350;
	}
	20% {
		color: #BF55EC;
	}
	40% {
		color: #3A539B;
	}
	60%{
		color: #81CFE0;
	}
	80%{
		color: #E74C3C;
	}
	100%{
		color: #F4B350;
	}
}

ul {
  list-style: circle inside;
}
a:hover, a:focus, a:active {
	text-decoration: none;
}

.hero {

  > h1 {
  	-webkit-animation: roodaycolors 15s infinite linear;
  	-moz-animation: roodaycolors 15s infinite linear;
    animation: roodaycolors 15s infinite linear;
    font-size: 9rem;
  }

  > p {
  	-webkit-animation: roodaycolors 15s infinite linear;
  	-moz-animation: roodaycolors 15s infinite linear;
    animation: roodaycolors 15s infinite linear;
    font-size: 3.5rem;
  }
}